---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers: {}
    url: https://codeforces.com/api/contest.list?gym=false
    method: GET
  response:
    body: '{"status":"OK","result":[{"id":1585,"name":"Technocup 2022 - Elimination
      Round 3","type":"CF","phase":"BEFORE","frozen":false,"durationSeconds":7200,"startTimeSeconds":1639321500,"relativeTimeSeconds":-6510373},{"id":1590,"name":"Codeforces
      Round #TBA (Div. 1, based on Technocup 2022 Elimination Round 3)","type":"CF","phase":"BEFORE","frozen":false,"durationSeconds":7200,"startTimeSeconds":1639321500,"relativeTimeSeconds":-6510373},{"id":1591,"name":"Codeforces
      Round #TBA (Div. 2, based on Technocup 2022 Elimination Round 3)","type":"CF","phase":"BEFORE","frozen":false,"durationSeconds":7200,"startTimeSeconds":1639321500,"relativeTimeSeconds":-6510373},{"id":1584,"name":"Technocup[...]
