---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers: {}
    url: https://yukicoder.me/api/v1/contest/future
    method: GET
  response:
    body: '[{"Id":351,"Name":"yukicoder contest","Date":"2021-10-01T21:20:00+09:00","EndDate":"2021-10-01T23:20:00+09:00","ProblemIdList":[5196,6643,5360,6641,5174,6876,5064]},{"Id":353,"Name":"yukicoder
      contest","Date":"2021-10-08T21:20:00+09:00","EndDate":"2021-10-08T23:20:00+09:00","ProblemIdList":[6993,6992,5971,6998,6929,6985,6990]},{"Id":354,"Name":"yukicoder
      contest","Date":"2021-10-15T21:20:00+09:00","EndDate":"2021-10-15T23:20:00+09:00","ProblemIdList":[6832,5205,6545,5582,6803,6045]},{"Id":355,"Name":"yukicoder
      contest","Date":"2021-10-22T21:20:00+09:00","EndDate":"2021-10-22T23:20:00+09:00","ProblemIdList":[7017,6579,6932,6619,6569,7010,7031]},{"Id":352,"Name":"yukicoder
      contest","Date":"2021-10-29T21:20:00+09:00","EndDate":"2021-10-29T23:20:00+09:00","ProblemIdList":[7019,6957,5208,4974,5339,6065,6879,6353]},{"Id":356,"Name":"yukicoder
      contest （オムニバス 6問程度問題募集中）","Date":"2021-11-05T21:20:00+09:00","EndDate":"2021-11-05T23:20:00+09:00","ProblemIdList":[7063]}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: 312.5409ms
